@import '../base/variable.module';

/* Login container styling */
.login-container {
  margin: auto;
  margin-top: 10vh;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  input{
    width: 100%;
  }
  button {
    width: 100%;
  }
}
