$primary-bg-color: #f3fbf5;
$primary-text-color: #000;
$secondary-text-color: #696969;

$primary-bg-color-dark: #282c34;
$primary-text-color-dark: #f3fbf5;

$theme-color-dark:#006838;
$theme-color-light: #c1ff72;

$primary-shadow: #00000033;
$primary-shadow-dark: #ffffff33;

$highlight-light:#ccc;
$light-color: #fff;